<div *ngIf="location.map" class="whhc-location columns">
  <div class="column is-3 has-text-right">
    <p><strong>{{ location.heading }}</strong></p>
    <p *ngFor="let addressLine of location.address.split(',')">{{ addressLine }},</p>
    <p><small><a [href]="location.map.url" target="_blank">View on Google Maps</a></small></p>

    <br>

    <div *ngIf="transport" class="transport">

      <p *ngIf="transport.driving">
        <i class="icon-image icon-distance"></i>
        {{ transport.driving.distance }} miles
      </p>

      <p *ngIf="transport.driving?.traffic > 0">
        <i class="icon-image icon-driving"></i>
        {{ transport.driving.time | timeToStr }}
        <small *ngIf="transport.driving.traffic > 59" class="traffic">+{{ transport.driving.traffic | timeToStr  }} traffic</small>
      </p>

      <p *ngIf="transport.transit">
        <i class="icon-image icon-transit"></i>
        {{ transport.transit.time | timeToStr }}
      </p>

    </div>
  </div>

  <div class="column">
    <a [href]="location.map.url" ttarget="_blank">
      <figure class="image">
        <img [src]="location.map.image.url">
      </figure>
    </a>
  </div>
</div>
