@mixin img-icon($name, $dir: 'uv') {
  &.icon-#{$name} { background-image: url('/assets/icons/#{$dir}/#{$name}.png'); }
}

.icon-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  padding-left: 1.2rem;
  margin: 0 0.2rem;

  @include img-icon('distance');
  @include img-icon('driving');
  @include img-icon('transit');

  @include img-icon('tube', 'custom');
  @include img-icon('overground', 'custom');
  @include img-icon('rail', 'custom');
  @include img-icon('citymapper', 'custom');
}

.whhc-location .transport .traffic {
  display: block;

  font-size: 0.7rem;
}
