<section class="section" *ngIf="event">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-8-desktop is-12-touch">

        <article class="whhc-event whhc-main box">
          <header class="hero is-dark" [ngStyle]="{'background-image': 'url(' + event.background.url + '?size=feature)' }">
            <div class="hero-body has-text-centered">
              <whhc-media-avatar [user]="event.author" type="small"></whhc-media-avatar>
              <h1 class="title is-4">{{ event.heading }}</h1>
              <p class="subtitle is-6">
                {{ event.start | dateToStr:startDateFormat }}<ng-container *ngIf="endDateFormat">{{ event.end | dateToStr:endDateFormat }}</ng-container><br>
                {{ event.start | dateToStr:'h:mma' }} - {{ event.end | dateToStr:'h:mma' }}<br>
              </p>
            </div>
          </header>

          <div *ngIf="event.tags.length > 0" class="tags has-text-centered">
            <whhc-tag *ngFor="let tag of event.tags" [tag]="tag" size="medium"></whhc-tag>
          </div>

          <div class="columns">
            <div class="column is-3 has-text-centered">
              <figure *ngIf="event.thumb" class="event-image image is-128x128"><img [src]="event.thumb.url" [alt]="event.thumb.description"></figure>
            </div>

            <div class="column">
              <div class="content" [innerHtml]="event.body | safeHtml" whhcWYSIWYG></div>
            </div>
          </div>

          <whhc-media-location *ngIf="event.location" [location]="event.location" [start]="event.start"></whhc-media-location>
        </article>
      </div>

      <div class="column">
        <div class="columns is-multiline is-sticky is-mobile">

          <div *ngFor="let similarEvent of similar" class="column is-6-desktop is-4-tablet is-6-mobile">
            <whhc-event-card [event]="similarEvent"></whhc-event-card>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
