<section class="whhc-img-gallery" [class.single]="images.length === 1">
  <div *ngFor="let row of rows; let rowIndex = index">
    <figure *ngFor="let img of row; let colIndex = index" [ngStyle]="{ flex: img.ratio, 'padding-bottom': (100 / img.ratio)+'%' }" (click)="showModalImage(rowIndex, colIndex)">
      <whhc-image-fade-in [image]="img" size="small"></whhc-image-fade-in>
    </figure>
  </div>
</section>

<div class="modal" [class.is-active]="modalIndex" (swipeleft)="changeModalImage('prev')" (swiperight)="changeModalImage('next')">
  <div class="modal-background" (click)="hideModalImage()"></div>
  <div class="modal-content">

    <img *ngIf="modalIndex" [src]="rows[modalIndex.rowIndex][modalIndex.columnIndex].url" [alt]="rows[modalIndex.rowIndex][modalIndex.columnIndex].description">
    <img *ngIf="modalPrevIndex" class="preload" [src]="rows[modalPrevIndex.rowIndex][modalPrevIndex.columnIndex].url" [alt]="rows[modalPrevIndex.rowIndex][modalPrevIndex.columnIndex].url.description">
    <img *ngIf="modalNextIndex" class="preload" [src]="rows[modalNextIndex.rowIndex][modalNextIndex.columnIndex].url" [alt]="rows[modalNextIndex.rowIndex][modalNextIndex.columnIndex].url.description">

    <a *ngIf="images.length > 1" class="modal-button prev" (click)="changeModalImage('prev')" >&#8678;</a>
    <a *ngIf="images.length > 1" class="modal-button next" (click)="changeModalImage('next')">&#8680;</a>

  </div>
  <button class="modal-close is-large" aria-label="close" (click)="hideModalImage()"></button>
</div>

