@import '../../../../styles/variables';

section {
  margin: 0 -$column-gap / 2;
}

div {
  display: flex;
  flex-direction: row;
  width: 100%;

  @at-root figure {
    margin: $column-gap / 2;
  }
}

.single {
  div {
    width: 60%;
    margin-left: 20%;
  }
}
