.preload {
  position: fixed;
  top: -2rem;
  left: -2rem;

  width: 1rem;
  height: 1rem;
}

.whhc-img-gallery {

  margin: 0 -$gap / 2;

  div {
    @include tablet {
      display: flex;
    }

    flex-direction: row;
    width: 100%;

    figure {
      margin: $column-gap / 2;
      cursor: pointer;

      @include tablet {
        padding-bottom: 0 !important;
      }

      //@include mobile {
      //  min-height: 0;
      //  position: relative;
      //}

      img {
        width: 100%;
        //@include mobile {
        //  position: absolute;
        //  z-index: 0;
        //}
      }
    }
  }

  & + .modal {
    .modal-content {
      overflow: visible;
      width: auto;

      img {
        max-width: 90vw;
        max-height: 90vh;
      }
    }

    .modal-button {

      @include touch { display: none; }

      $btn-size: 4rem;

      position: absolute;
      display: block;
      user-select: none;

      width: $btn-size;
      height: $btn-size;
      top: 50%;

      margin-top: -$btn-size / 2;

      line-height: $btn-size;
      font-size: $btn-size / 2;
      font-family: $font-title;
      font-weight: 700;

      text-align: center;

      z-index: 41;

      background-color: $white;
      color: $whhc-black;

      &:hover {
        color: white;
      }

      &.prev {
        left: -$btn-size;
        @include on-hover-background-slide-in-left($whhc-maroon);
      }

      &.next {
        right: -$btn-size;
        @include on-hover-background-slide-in-right($whhc-maroon);
      }
    }
  }
}
