@import '../../../../../styles/variables';

a {
  @include on-hover-grow;

  padding-bottom: 42.2%;
  margin-bottom: 2vw;

  position: relative;
  z-index: 0;
}

.thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  background-size: cover;
  background-position: center center;
}

.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 50%;

  padding: $column-gap;

  .name {
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 1.2vw;
    font-weight: 700;
  }
}
