whhc-fixtures-card {
  .column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .fixture-heading {
    .whhc-team {
      font-weight: bold;
    }
  }

  .score {
    padding: 0.25rem;
    background: $border;
    font-weight: bold;
    min-width: 3rem;
    display: inline-block;

    border-bottom: 0.25rem solid;
    border-color: $white;
  }
}

.score.result:not(.intra-club).draw {
  border-bottom-color: $yellow;
}

.home .score.result:not(.intra-club) {
  &.win {
    border-bottom-color: $green;
  }
  &.lose {
    border-bottom-color: $red;
  }
}

.away .score.result:not(.intra-club) {
  &.win {
    border-bottom-color: $red;
  }
  &.lose {
    border-bottom-color: $green;
  }
}
