<section class="section">
  <div class="columns">
    <div class="column">
      <h1 class="title">News</h1>

      <div class="content">
        <div class="has-text-centered">
          <whhc-tag *ngFor="let tag of tags | async" [tag]="tag"></whhc-tag>
        </div>
      </div>
    </div>

    <div class="column is-9">
      <div class="columns is-multiline">
        <div *ngFor="let article of articles" class="column is-4">
          <whhc-news-list-card [article]="article"></whhc-news-list-card>
        </div>
      </div>
    </div>
  </div>
</section>
