<section class="section">
  <div class="columns">
    <div class="sticky-side column">
      <div class="is-sticky">
        <h1 class="title">News</h1>

        <div class="has-text-centered">
          <whhc-tag *ngFor="let tag of tags | async" [tag]="tag" [selected]="selectedTag"></whhc-tag>
        </div>
      </div>

    </div>

    <div class="column is-9">
      <div class="columns is-multiline">
        <div *ngFor="let article of articles" class="column is-4">
          <whhc-news-list-card [article]="article"></whhc-news-list-card>
        </div>
      </div>
    </div>

  </div>
</section>
