@import "~bulma";
@import '~bulma-tooltip';
@import '~bulma-pageloader/dist/bulma-pageloader.sass';

h1, h2, .description {
  &, &.title {
    text-transform: uppercase;
  }
}

.title {
  font-family: $font-title;
  font-weight: 700;
}

.box {
  box-shadow: $box-shadow !important;

  @include touch {
    padding: 0;
  }
}

.is-48x48-mobile {
  @include mobile {
    height: 48px !important;
    width: 48px !important;
  }
}
