@import "~bulma";
@import '~bulma-tooltip';
@import '~bulma-pageloader/dist/bulma-pageloader.sass';

pre {
  font-family: inherit;
}

.content ol, .content ul {
  list-style-position: inside;
}

h1, h2, .description {
  &, &.title {
    text-transform: uppercase;
  }
}

.title {
  font-family: $font-title;
  font-weight: 700;
}

.subtitle + .subtitle {
  margin-top: -1.25rem;
}

.box {
  box-shadow: $box-shadow !important;

  @include touch {
    padding: 0;
  }
}

.is-48x48-mobile {
  @include mobile {
    height: 48px !important;
    width: 48px !important;
  }
}

.is-56x56 {
  height: 56px;
  width: 56px;
}

.navbar-burger {
  $h: 4px;

  span {
    color: $white;
    height: $h;
    width: 32px;

    left: calc(50% - 16px);

    &:nth-child(1) {
      top: calc(50% - #{2 * $h + $h});
    }

    &:nth-child(2) {
      top: calc(50% - #{0.5  * $h});
    }

    &:nth-child(3) {
      top: calc(50% + #{2 * $h});
    }
  }

  &.is-active {
    span {
      &:nth-child(1) {
        -webkit-transform: translateY(2.5 * $h) rotate(45deg);
        transform: translateY(2.5 * $h) rotate(45deg);
      }

      &:nth-child(3) {
        -webkit-transform: translateY(-2.5 * $h) rotate(-45deg);
        transform: translateY(-2.5 * $h) rotate(-45deg);
      }
    }
  }
}

.columns.is-reverse-touch {
  @include touch {
    flex-direction: column-reverse;
    display: flex;
    & > .column {
      width: 100%;
    }
  }
}
