@mixin article-feature {
  padding: $gap / 2 0;

  @include tablet {
    float: right;
    width: 50%;
    padding: 0 0 $gap / 2 $gap / 2;
  }
}

//@mixin absolute-child {
//  position: relative;
//
//  > div {
//    position: absolute;
//    top: 0;
//    bottom: 0;
//    left: 0;
//    right: 0;
//  }
//}
//
//@mixin title-text {
//  text-transform: uppercase;
//  font-family: $font-title;
//  font-size: 1.2vw;
//  font-weight: 700;
//}
//
//@mixin date-text {
//  font-family: $font-main;
//  margin-top: -0.1vw;
//  font-size: 1vw;
//}
