$primary: $whhc-blue;
$link: $primary;
$dark: $whhc-black;

////$column-gap: 1vw;

$navbar-item-color: $white;
$navbar-background-color: $whhc-black;
$navbar-item-hover-background-color: tranparent;
$navbar-height: 6rem;
$navbar-item-img-max-height: $navbar-height * 0.6;

$box-shadow: 0 2px 12px 0 rgba(0,0,0,0.20);
$box-radius: 0;
$box-padding: 1.25vw;

//$tooltip-background-color: $whhc-maroon;
//
//$section-padding: 3rem;
//
//$event-spacing: 2vw;
//$event-detail-height: 30vw;
//$event-detail-color: $white;
//$event-detail-background-color: $whhc-black;
//
//$font-size-15: 1.5vw;
//
//@import '_animations';
//@import '~bulma/sass/utilities/initial-variables';
//@import '~bulma/sass/utilities/functions';
//@import '~bulma/sass/utilities/derived-variables';
//@import 'mixins';
