@import 'colors';
@import 'fonts';

@import 'variables';
@import 'mixins.scss';

@import 'animations';

@import 'bulma';
@import 'base-elements';

.whhc-list-card {
  @include on-hover-grow;
  height: 100%;

  .thumb {
    background-size: cover;
    background-position: center center;

    padding-bottom:  2/3 * 100%;
    margin-bottom: $gap / 2;
  }

  .description {
    @include touch {
      padding: $gap / 2;
    }
  }

  .tags {
    @include touch {
      padding: $gap / 2;
      padding-top: 0;
    }
  }
}

.northern-line {
  @extend .tag;
  @extend .is-black;
}

.jubilee-line {
  @extend .tag;
  @extend .is-light;
}

.overground-line {
  @extend .tag;
  background: $og-orange !important;
  color: $white !important;
}

.bus-line {
  @extend .tag;
  @extend .is-black;
  color: #FFFF00 !important;
}

.no-bullet li {
  list-style: none;
}

.fade-in {
  min-height: 150px;

  &.ng-lazyloaded {
    min-height: 0;
  }
}

.home-hero {
  height: 0;
  padding-bottom: 50%;

  @include desktop {
    padding-bottom: 0;
    height: calc(100vh - (#{$navbar-height} + #{3 * $gap}));
  }

  background-size: cover;
  background-position: center center;
  background-image: url(https://media.whhc.uk/a8b522cd-c49c-4336-b143-500ae28d04be.jpg?size=hero);
}

h1.title a {
  color: $whhc-black !important;
}

body {
  background: $bg-grey;
}

.tags {
  padding-top: $gap / 2;
  display: inherit;

  @at-root .tag { margin: 0 2px; }
}
.whhc-photos .is-sticky {
  background-color: $bg-grey;

  a {
    color: $whhc-black;

    &:hover {
      color: $link;
    }
  }
}

.whhc-label {
  padding-bottom: $gap / 2;

  :focus {
    outline: 0;
  }

  h2 {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 0;
      width: 4rem;
      border-top: 2px solid $whhc-black;
      top: 50%;
      margin-top: -1px;

      margin-right: 0;
      margin-left: 1rem;
      right: auto;
      left: 100%;
    }
  }

  &.label-rotate {
    @include desktop {
      padding-right: $gap;
      flex-grow: unset;

      h2 {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 2.3rem 3rem; //3rem 1rem;

        left: 0;
        right: 0;

        //top: 7rem;
      }
    }
  }

  &.label-left {
    @include desktop {
      h2:after {
        margin-right: 0.5rem;
        margin-left: 0rem;
        right: 100%;
        left: auto;
      }
    }
  }
}

.whhc-main {
  padding: $gap;

  .hero {
    display: flex;
    margin-top: -$gap;
    margin-left: -$gap;
    margin-right: -$gap;

    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    min-height: 20rem;

    .hero-body {
      flex-grow: 0;
      width: 100%;
      padding: 1rem 20%;
      border-radius: 4px;
      background: rgba($black, .4);
    }
  }

  .banner {
    margin-bottom: 1rem;
  }

  h1 {
    text-transform: capitalize;
  }

  .avatar {
    display: inline-block;

    border-radius: 100%;
    overflow: hidden;
    border: 2px solid $white
  }

  .featured.image {
    @include article-feature-right;
  }

  .featured.image.left {
    @include article-feature-left;
  }
}

.whhc-full-left {
  @include desktop {
    margin-top: -$gap / 2;
    margin-left: -$gap / 2;
    margin-bottom: -$gap / 2;
  }
}

.whhc-full-top {
  @include desktop {
    margin-top: -$gap / 2;
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
  }
}

/* Routes */

  @import '../app/app.component';

  /* Auth */
  @import '../app/routes/public/auth/auth-login/auth-login.component.scss';

  /* Home */
  @import '../app/routes/public/home/home-events/home-events.component';

  /* News */
  @import '../app/routes/public/news/news-article/news-article.component';

  /* Events */
  @import '../app/routes/public/events/event-detail/event-detail.component';

  /* Fixtures */
  @import '../app/routes/public/fixtures/fixtures.component';

  /* Pages */
  @import '../app/routes/public/pages/pages.component';
  @import '../app/routes/public/pages/page-list-card/page-list-card.component';

  /* Errors */
  @import '../app/routes/public/error/error.component.scss';

/* Components */

  /* Events */
  @import '../app/components/events/events-event-card/events-event-card.component';

  /* Media */
  @import '../app/components/media/media-avatar/media-avatar.component';
  @import '../app/components/media/media-image-gallery/media-image-gallery.component';
  @import '../app/components/media/media-youtube/media-youtube.component';
  @import '../app/components/media/media-location/media-location.component';

  /* News */
  @import '../app/components/news/news-basic-card/news-basic-card.component';
  @import '../app/routes/public/home/home-news/home-news-featured-card/home-news-featured-card.component';
  @import '../app/routes/public/news/news-list-card/news-list-card.component';

  /* Tags */
  @import '../app/components/tags/tag/tag.component';

  /* Shared */
  @import '../app/components/shared/elements/footer/footer.component';
  @import '../app/components/shared/elements/image-fade-in/image-fade-in.component.scss';
  @import '../app/components/shared/elements/navbar/navbar.component';

.is-sticky {
  position: sticky;
  top: $navbar-height;
}
