@import 'variables';
@import 'bulma';
@import 'base-elements';

.is-sticky {
  position: sticky;
  top: $navbar-height;
}

.title {
  font-family: $font-title;
  font-weight: 400;
}

.navbar-brand .navbar-item {
  @include on-hover-background-slide-in-right($whhc-maroon);
}


.whhc-label {
  $label-height: 2vw;
  $label-bar-height: 2px;
  $label-bar-width: 4.5vw;
  $label-bar-padding: 0.5vw;

  position: relative;
  user-select: none;
  margin-top: $event-spacing + $box-padding / 2;

  span {
    top: 0;
    position: absolute;
    display: block;

    right: $label-height;

    transform: rotate(-90deg);
    transform-origin: top right;

    font-size: $label-height * 0.8;
    line-height: $label-height;
    font-family: $font-title;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: $label-bar-width + $label-bar-padding;
  }

  span:before {
    content: '';

    position: absolute;
    display: block;

    top: calc((#{$label-height} - #{$label-bar-height}) / 2 );
    left: 0;

    height: $label-bar-height;
    width: $label-bar-width;

    background-color: $whhc-black;
  }
}
