@import 'colors';
@import 'fonts';

@import 'variables';
@import 'mixins.scss';

@import 'animations';

@import 'bulma';
@import 'base-elements';

.home-hero {
  height: calc(100vh - (#{$navbar-height} + #{3 * $gap}));
  min-height: 26rem;
  background-size: cover;
  background-position: center center;
  background-image: url(http://media.whhc.uk/a8b522cd-c49c-4336-b143-500ae28d04be.jpg);
}

body {
  background: $bg-grey;
}

.tags {
  padding-top: $gap / 2;
  display: inherit;

  @at-root .tag { margin: 0 2px; }
}
.whhc-photos .is-sticky {
  background-color: $bg-grey;

  a {
    color: $whhc-black;

    &:hover {
      color: $link;
    }
  }
}

.whhc-label {
  padding-bottom: $gap / 2;

  :focus {
    outline: 0;
  }

  h2 {
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      display: block;
      height: 0;
      width: 4rem;
      border-top: 2px solid $whhc-black;
      top: 50%;
      margin-top: -1px;

      margin-right: 0;
      margin-left: 1rem;
      right: auto;
      left: 100%;
    }
  }

  &.label-rotate {
    @include desktop {
      padding-right: $gap;
      flex-grow: unset;

      h2 {
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: 2.3rem 3rem; //3rem 1rem;

        left: 0;
        right: 0;

        //top: 7rem;
      }
    }
  }

  &.label-left {
    @include desktop {
      h2:after {
        margin-right: 0.5rem;
        margin-left: 0rem;
        right: 100%;
        left: auto;
      }
    }
  }
}

.whhc-main {
  padding: $gap;

  .hero {
    display: flex;
    margin-top: -$gap;
    margin-left: -$gap;
    margin-right: -$gap;

    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    min-height: 20rem;

    .hero-body {
      flex-grow: 0;
      width: 100%;
      padding: 1rem 20%;
      border-radius: 4px;
      background: rgba($black, .4);
    }
  }

  h1 {
    text-transform: capitalize;
  }

  .avatar {
    display: inline-block;

    border-radius: 100%;
    overflow: hidden;
    border: 2px solid $white
  }

  .featured.image {
    @include article-feature-right;
  }

  .featured.image.left {
    @include article-feature-left;
  }
}

.whhc-full-left {
  @include desktop {
    margin-top: -$gap / 2;
    margin-left: -$gap / 2;
    margin-bottom: -$gap / 2;
  }
}

.whhc-full-top {
  @include desktop {
    margin-top: -$gap / 2;
    margin-left: -$gap / 2;
    margin-right: -$gap / 2;
  }
}

/* Routes */

  /* Home */
  @import '../app/routes/home/home-events/home-events.component';

  /* News */
  @import '../app/routes/news/news-article/news-article.component';

/* Components */

  /* Events */
  @import '../app/components/events/events-event-card/events-event-card.component';

  /* Media */
  @import '../app/components/media/media-avatar/media-avatar.component';
  @import '../app/components/media/media-image-gallery/media-image-gallery.component';
  @import '../app/components/media/media-youtube/media-youtube.component';

  /* News */
  @import '../app/components/news/news-basic-card/news-basic-card.component';
  @import '../app/components/news/news-featured-card/news-featured-card.component';
  @import '../app/components/news/news-list-card/news-list-card.component';

  /* Shared */
  @import '../app/components/shared/elements/footer/footer.component.scss';

.is-sticky {
  position: sticky;
  top: $navbar-height;
}
