@import '../../../../styles/variables';

.avatar {
  display: inline-block;

  border-radius: 100%;
  overflow: hidden;
  border: 2px solid $white
}

.video {;
  float: right;
  padding: 0 0 $gap $gap;
}

.more {
  margin-top: -$column-gap * 2;

  div {
    padding-top: $column-gap;
  }
}
