<section class="section" *ngIf="article">
  <div class="columns">
    <article class="column box is-8">

      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="../">News</a></li>
          <li class="is-active"><a routerLink="./">{{ article.heading }}</a></li>
        </ul>
      </nav>

      <h1 class="title">{{ article.heading }}</h1>
      <p class="subtitle">{{ article.date | dateToStr:'fuzzy' }}</p>

      <whhc-media-youtube *ngIf="video" [code]="video" align="right"></whhc-media-youtube>

      <div class="content has-text-justified" [innerHtml]="article.body"></div>

      <whhc-media-image-gallery [images]="article.photos"></whhc-media-image-gallery>
    </article>

    <div class="column more">
      <div class="is-sticky">
        <whhc-news-basic-card *ngFor="let x of [1,2,3,4,5]" [article]="article"></whhc-news-basic-card>
      </div>
    </div>
  </div>
</section>
