<whhc-page-loader></whhc-page-loader>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img class="is-hidden-touch" src="/assets/images/logo.png" alt="West Hampstead Hockey Club">
          <img class="is-hidden-desktop" src="/assets/images/logo-mobile.png" alt="West Hampstead Hockey Club">
        </a>
      </div>

      <div class="navbar-burger" [class.is-active]="navActive" (click)="navClick()" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>

    <div class="navbar-menu" [class.is-active]="navActive">
      <div class="navbar-start">
      </div>
      <div class="navbar-end has-text-centered-touch">
        <!--<a class="navbar-item">Join</a>-->
        <a routerLink="/news" class="navbar-item">News</a>
        <a routerLink="/events" class="navbar-item">Events</a>
        <a routerLink="/photos" class="navbar-item">Photos</a>
        <!--<a class="navbar-item">Fixtures</a>-->
        <!--<a class="navbar-item">Oppositions</a>-->
        <!--<a class="navbar-item">Location</a>-->
        <!--<a class="navbar-item">Contact</a>-->
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<whhc-footer></whhc-footer>
