<section class="whhc-login hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title">Members' Login</h3>
        <!--<p class="subtitle">Please login to proceed.</p>-->
        <div class="box">
          <figure class="avatar image is-96x96">
            <img src="https://media.whhc.uk/0df32bd7-bf6f-4a04-b2b0-d8ed21c2cfad.png?size=thumb">
          </figure>
          <form>
            <div class="field">
              <div class="control">
                <input class="input is-large" type="email" placeholder="Your Email" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-large" type="password" placeholder="Your Password">
              </div>
            </div>

            <button class="button is-block is-primary is-large is-fullwidth">Login</button>
          </form>
        </div>
        <p class="has-text-grey">
          <a routerLink="../reset-password">Forgot Password</a>
        </p>
      </div>
    </div>
  </div>
</section>
