.whhc-news-list-card {
  @include on-hover-grow;
  height: 100%;

  .thumb {
    background-size: cover;
    background-position: center center;

    padding-bottom:  2/3 * 100%;
    margin-bottom: $gap / 2;
  }

  .description {
    min-height: 6rem;

    @include touch {
      padding: $gap / 2;
    }
  }

  .tags {
    @include touch {
      padding: $gap / 2;
      padding-top: 0;
    }
  }
}
