<a class="whhc-news-list-card box" [routerLink]="['/', 'news', article.slug]">
  <div class="whhc-full-top thumb" [ngStyle]="{'background-image': 'url(' + article.thumb.url + '?size=card)' }"></div>

  <div class="description">
    <h3 class="title is-6">{{ article.heading }}</h3>
    <p class="subtitle is-7">{{ article.date | dateToStr:'fuzzy' }}</p>
  </div>

  <div *ngIf="article.tags.length > 0" class="tags has-text-centered">
    <whhc-tag *ngFor="let tag of article.tags" [tag]="tag"></whhc-tag>
  </div>
</a>

