<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
          <img class="is-hidden-touch" src="/assets/images/logo.png" alt="West Hampstead Hockey Club">
          <img class="is-hidden-desktop" src="/assets/images/logo-mobile.png" alt="West Hampstead Hockey Club">
        </a>
      </div>

      <div class="navbar-burger" [class.is-active]="navActive" (click)="navClick()" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </div>
    </div>

    <div class="navbar-menu" [class.is-active]="navActive">
      <div class="navbar-start">
      </div>
      <div *ngIf="clubInfoNav" class="navbar-end">
        <a routerLink="/news" class="navbar-item">News</a>
        <a routerLink="/events" class="navbar-item">Events</a>
        <!--<a routerLink="/fixtures" class="navbar-item">Fixtures</a>-->
        <a routerLink="/results" class="navbar-item">Results</a>
        <a routerLink="/photos" class="navbar-item">Photos</a>

        <ng-container *ngIf="clubInfoNav.children.length > 0; else basicLink">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" [routerLink]="clubInfoNav.path">
              {{ clubInfoNav.heading }}
            </a>

            <div class="navbar-dropdown is-boxed is-right is-hidden-touch">
              <a *ngFor="let child of clubInfoNav.children" class="navbar-item" [routerLink]="child.path">
                  {{ child.heading }}
              </a>
            </div>

          </div>
        </ng-container>

        <ng-template #basicLink>
          <a [href]="clubInfoNav.path" class="navbar-item">{{ clubInfoNav.heading }}</a>
        </ng-template>

      </div>
    </div>
  </div>
</nav>
