<section class="hero is-white">
  <div class="container">
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <h3>Sponsors, Friends, and Family</h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div *ngFor="let link of links" class="column is-narrow">
        <a [href]="link.url" target="_blank">
          <figure
            class="image is-96x96 tooltip"
            [attr.data-tooltip]="link.label"
          >
            <img [src]="link.logo.url">
          </figure>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="section is-dark">
  <div class="hero-body">
    <div class="columns is-mobile">
      <div class="column is-6-mobile">
        <ul>
          <li *ngFor="let network of socialNetworks" class="social">
            <a
              [href]="network.url" target="_blank"
              [ngStyle]="{'background-image': 'url(' + network.logo.url + ')' }"
            >
              {{ network.label }}
            </a>
          </li>
        </ul>
      </div>
      <div class="column is-6-mobile has-text-right">
        <p class="address">
          West Hampstead Hockey Club<br>
          25 Lymington Road<br>
          London<br>
          NW6 1HZ<br>
        </p>
        <p class="copyright"><span>&copy;</span> 2018</p>
      </div>
    </div>
  </div>
</footer>

