.whhc-sponsors {
  padding-top: $gap;
  padding-bottom: $gap;

  background: $white;

  h2 {
    font-family: $font-title;
    font-weight: 400;
  }
}

footer {
  background: $whhc-black;

  .social a, .address, .copyright {
    color: $white;
  }

  .social, .copyright, .address {
    font-family: $font-title;
    font-weight: 400;
    padding: $column-gap / 2 0;
  }

  .social a {
    padding-left: 2rem;

    background-position: left center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      color: $link !important;
    }
  }

  .copyright {
    padding-top: 0.75rem;

    span {
      color: $whhc-blue;
    }
  }
}
