<section class="hero is-white">
  <div class="container">
    <div class="columns is-centered">
      <div class="column has-text-centered">
        <h3>Sponsors, Friends, and Family</h3>
      </div>
    </div>
    <div class="columns is-centered">
      <div *ngFor="let link of links" class="column is-narrow">
        <figure
          class="image is-128x128 tooltip"
          [attr.data-tooltip]="link.label"
        >
          <img [src]="link.logo.url">
        </figure>
      </div>
    </div>
  </div>
</section>
<footer class="hero is-dark">
  <div class="hero-body container">
    <div class="columns">
      <div class="column">
        <ul>
          <li *ngFor="let network of socialNetworks" class="social">
            <a
              [href]="network.url" target="_blank"
              [ngStyle]="{'background-image': 'url(' + network.logo.url + ')' }"
            >
              {{ network.label }}
            </a>
          </li>
        </ul>
      </div>
      <div class="column has-text-right">
        <p class="address">
          West Hampstead Hockey Club<br>
          25 Lymington Road<br>
          London<br>
          NW6 1HZ<br>
        </p>
        <p class="copyright"><span>&copy;</span> 2018</p>
      </div>
    </div>
  </div>
</footer>

