.whhc-home-events {
  margin-top: -$column-gap;

  .events {
    position: relative;
    padding-top: $gap / 2;
    padding-bottom: $gap / 2;

    @include tablet {
      margin-top: $gap / 2;
      margin-bottom: $gap;
    }

    @include desktop {
      margin-top: $gap;
    }

    &:before {
      content: '';
      display: block;

      position: absolute;

      top: -$column-gap;
      bottom: -$column-gap;

      z-index: 1;

      left: $gap;
      right: $gap;

      background: $whhc-blue;
    }
  }

  .event {
    position: relative;
    z-index: 1;
  }

  .whhc-label h2 {
    @include desktop {
      top: 6rem;
    }
  }
}
