@import '../../../styles/variables';

$event-detail-height: 30vw;
$event-detail-color: $white;
$event-detail-background-color: $whhc-black;

.columns.is-multiline {
  position: relative;
}

.event-details {
  position: absolute;

  left: $column-gap;
  right: $column-gap;

  height: $event-detail-height;
  overflow: hidden;

  padding: $column-gap;

  background: $event-detail-background-color;

  &, .title { color: $event-detail-color !important; }

  .title {
    line-height: 64px;
  }
}

.caret { display: none; }

.selected {
  margin-bottom: $event-detail-height;

  .caret {
    display: block;
    margin: 0 auto;

    width: 0;
    height: 0;

    border-style: solid;
    border-width: 0 $column-gap $column-gap $column-gap;
    border-color: transparent transparent $event-detail-background-color transparent;
  }
}

dl {
  $size: 0.25vw;

  position: relative;
  margin: $size;
  padding: $column-gap;

  height: 100%;

  &:before, &:after {
    display: block;
    position: absolute;
    border: 0 solid $whhc-blue;
    content: '';
    width: 40%;
    height: 40%;
  }

  &:before {
    top: -$size;
    left: -$size;
    border-top-width: $size;
    border-left-width: $size;
  }

  &:after {
    bottom: -$size;
    right: -$size;
    border-bottom-width: $size;
    border-right-width: $size;
  }

  dt {
    font-family: $font-title;
    font-weight: 400;
    display: inline-block;
    background: $white;
    color: $whhc-black;
    padding: 0 $size;
    font-size: 1.25vw;
  }

  dd {
    margin: $column-gap / 2 0;
    font-size: 1vw;
  }
}

.facebook {
}
