<section class="section">
  <div class="columns">
    <div class="sticky-side column">
      <div class="is-sticky">
        <h1 class="title">Events</h1>

        <div class="has-text-centered">
          <whhc-tag *ngFor="let tag of tags | async" [tag]="tag" [selected]="selectedTag"></whhc-tag>
        </div>
      </div>

    </div>

    <div class="column is-9">
      <div class="columns is-multiline">
        <div *ngFor="let event of events" class="column is-3" [class.selected]="event.slug == selectedEvent">
          <whhc-event-card [id]="event.slug" [event]="event" [routerLink]="getEventLink(event)"></whhc-event-card>
          <span class="caret"></span>

          <div *ngIf="event.slug == selectedEvent" class="event-details">

            <h1 class="title">{{ event.heading }}</h1>

            <!--<whhc-media-avatar [user]="article.author" type="small"></whhc-media-avatar>-->
            <dl>
              <dt>Start:</dt><dd>{{ event.start | dateToStr:'dddd, Do of MMMM YYYY h:mma' }}</dd>
              <dt>Finish</dt><dd>{{ event.end | dateToStr:'dddd, Do of MMMM YYYY hh:mma' }}</dd>
              <dt>Location</dt><dd>{{ event.location | dateToStr:'dddd, Do of MMMM YYYY hh:mma' }}</dd>
            </dl>

            <div class="content has-text-justified" [innerHtml]="event.body"></div>

            <div *ngIf="event.tags.length > 0" class="event-tags">
              <whhc-tag *ngFor="let tag of event.tags" [tag]="tag" size="medium"></whhc-tag>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
